<div class="menu-container">
    <h2 class="heading">Documnets</h2>
    <p class="para">Search document or select category</p>
    <div class="menu">
        <ul class="menu-ul">
            <a routerLink="/"><li class="menu-li">All</li></a>
            <a routerLink="/financail"><li class="menu-li">Financial</li></a>
            <a routerLink="/technical"><li class="menu-li">Technical</li></a>
            <a routerLink="/marketing"><li class="menu-li">Marketing</li></a>
            <a routerLink="/human-resource"><li class="menu-li">Human Resources</li></a>
        </ul>
    </div>
</div>